
body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
  display: table;
  align-items: center;
  justify-content: center;
}

#container{
}

.login {
  width: 500px;
  height:500px;
  font-size: 16px;
  background: #363940;
  border:none;
  border-radius:7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}

.login-header {
  padding: 10px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.login div{
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}
.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="text"],
.login input[type="password"] {
  background: #fff;
  border-color: #A3A3A4;
  border:solid;
  border-radius:5px;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #FAA61A;
  border-color: transparent;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: 	#ff8c10;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}
