
#userInformation{
	background:#FAF0E6;
	position:relative;
	padding-bottom:20px;
	margin-top:80px;
	border-radius:20px;
}
.modal{
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,0.7);
	z-index:1000;
}
.modal-content{
	display:none;
	text-align:center;
	opacity:1;
	position:fixed;
	top:-100;
	left:50%;
	transform:translate(-50%, -50%);
	padding:30px;
	height:500px;
	width:400px;
	boarder-radius:5px;
	background-color:white;
	z-index:1200;
}
.modal-title{
	font-size:50px;
}
#disclose_status{
	font-size:40px;
	font-weight: bold;
}
.switch{
	width:100%;
	margin-bottom:15px;
}
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  margin: 0 auto;
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #8ce196;
  border-radius: 60px;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #8ce196;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label {
  background-color: #a61a37;
}

input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  background-color: #a61a37;
}











#discloseSettingArea{
	width:100%;
	text-align:left;
	padding:20px 35px;
	border-radius:15px;
	border:ridge 4px white;
}
.discloseSetting{
	
}
.input-wrapper{
	position:relative;
}
.sub-title{
	position:absolute;
	top:7px;
	left:0px;
	font-size:15px;
}
.cmn-toggle-small {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.cmn-toggle-small + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	user-select: none;
	margin-left:45px;

}

input.cmn-toggle-round-flat-small + .toggle-small {
	padding: 2px;
	width: 60px;
	height: 30px;
	background-color: #8ce196;
	border-radius: 60px;
	transition: background 0.4s;
}

input.cmn-toggle-round-flat-small + .toggle-small:before,
input.cmn-toggle-round-flat-small + .toggle-small:after {
	display: block;
	position: absolute;
	content: "";
}

input.cmn-toggle-round-flat-small + .toggle-small:before {
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	background-color: #fff;
	border-radius: 60px;
	transition: background 0.4s;
}

input.cmn-toggle-round-flat-small + .toggle-small:after {
	top: 4px;
	left: 4px;
	bottom: 4px;
	width: 22px;
	background-color: #8ce196;
	border-radius: 22px;
	transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat-small:checked + .toggle-small {
	background-color: #a61a37;
}

input.cmn-toggle-round-flat-small:checked + .toggle-small:after {
	margin-left: 30px;
	background-color: #a61a37;
}
.input-button-wrapper{
	position:relative;
	margin-top:30px;
	width:100%;
}
.disclose-button{
	border-radius:15px;
	border:none;
	font-size:15px;
}
#disclose_cancel{
	width:100px;
	background:#a61a37;
	position:relative;
	left:70px;
}
#disclose_change{
	width:60px;
	background:#8ce196;
	position:relative;
	left:-30px;
	display:none;
}

#userInformation p{
	padding:0px 10px;
}
.wrapper{
	width:100%;
	padding: 20px 40px;
}
#userInformation #imageArea{
	width:40%;
	height:250px;
	float:left;
}
#image{
	height:250px;
	width: 100%;
	object-fit: contain;
}
#userInformation #details{
	width:60%;
	height:250px;
	float:left;
}
.nickname{
	background:#FAF0E6;
	border:none;
	font-size:25px;
	width:100%;
	margin:20px;
	padding:0;
}
#nickname_edit{
	display:none;
}
#userId{
	text-align: right;
	margin:0;
	padding:0;
}
#policy{

}
#game{

}
#openSettingButton{
	margin-left:10px;
	border:none;
	border-radius:20px;
	width:85px;
}
#editButton{
	margin-left:10px;
	border:none;
	border-radius:20px;
	width:85px;
}
.introduction{
	width:100%;
	height:400px;
	padding:25px;
	margin:15px auto;
	float:left;
	background:white;
	border-radius:20px;
	border:none;
	border:ridge 2px black;
	overflow: auto;
}
#introduction_edit{
	display:none;
}
#edit_cancel{
	width:100px;
	background:#a61a37;
	position:relative;
	display:none;
}
#edit_change{
	width:60px;
	background:#8ce196;
	position:relative;
	display:none;
}
